li {
  display: flex;
  align-items: center;
}

.navbar > .container {
  padding-left: 1.3rem;
}

body {
  padding-top: 120px;
}

.nav-item {
    font-size: 1.25rem;
}

//.nav {
//  -webkit-backdrop-filter: blur(8px);
//  backdrop-filter: blur(8px);
//}
