$tertiary: #f8f9fb;
$hover-color: #f2dac0;
$recipe-width: 350px;

.recipe {
  display: inline-block;
  padding: $spacer;
  background-color: $tertiary;
  border: $border-width solid $border-color;
  @include border-radius;
  @include box-shadow;
  outline: 0;
  width: $recipe-width;
  
  .tags {
    background-color: $secondary;
    border-radius: 20px;
    padding: 1px 10px;
    margin: 0px 4px 4px 0;
    
    &:hover {
      background-color: $hover-color;
      transition: all ease-in-out 300ms;
    }
  }
  
  margin: $grid-gutter-width;
  // On mobile, span entire width
  @include media-breakpoint-down(sm) {
    display: block;
    width: 90%;
    margin-right: $grid-gutter-width;
  }
}
.recipe:last-of-type {
  margin-right: $grid-gutter-width;
}
